<h1>One minute changes for</h1>

<%= form_for(@one_minute_change_run) do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :chord_pair_id %>
  <div class="field">
    <%= f.label :num_changes %><br />
    <%= f.number_field :num_changes %>
  </div>
  <div class="actions">
    <%= f.submit "Send" %>
  </div>
<% end %>
